
·{

    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif ;
    text-decoration: none;
}

p, h2, h3, ul{
    margin-top: 5px;
    margin-bottom: 5px;
}

ul, ol{
    margin-left: 20px ;
    margin-bottom: 10px;
}

body{
    background-color: #f2f2f2;
}


header{
    width: 1212px;
    height: 140px;
    background-color: #23282B;
    margin: 0px auto;
}  

#logotipo{
    width: 50%;
    height: 130px;
    margin: 0 auto;
    padding-top: 10px;

}



#logotipo img{
    display: block;
    width: 60px;
    float: left;
    margin-top: 20px;

}


#logotipo h1{
    display: block;
    float: left;
    margin-top: 35px;
    margin-left: 20px;
    letter-spacing: 2px;
    font-weight: 100;
    color: #9d019d;
}

nav{
    width: 1250px;
    height: 40px;
    margin: 0 auto;
    background-color: #1b1e1f;
    border: 1px solid #333333;
    box-shadow: 0px 22px 22px gray ;
    font-size: 17px;
    

}

nav > ul{
    list-style: none;
    text-decoration: none;
}

nav > ul > li{
    line-height: 20px;
    float:left;

}

nav > ul > li > a{
    display: block;
    padding-left : 20px;
    padding-right: 20px;
    color: white;

}
nav > ul > li > a:hover{
    background: #019d13;
    box-shadow: 0px 0px 5px #333333 inset;
    color: white;
    transition: all 300ms;

}

nav > ul > li > ul{
    display: none;
    position: absolute;
    color: white;
    text-align: center;
    width: 150px;
    box-shadow: 0px 2px 2px gray ;
}

nav > ul > li:hover > ul{
    display: block;
    color: white;
    margin: 0px;
    list-style: none;
}

nav > ul > li:hover > ul > li{
    background: #f2f1f0 ;
    border-bottom: 1px solid #d6d6d6 ;
    padding: 8px;
    line-height: 25px;
    font-size: 13px;
    transition: all 300ms;


}

nav > ul > li:hover > ul > li a{
    color: gray;
    transition: all 300ms;
}   
    
nav > ul > li:hover > ul > li:hover{
    background-color: #019d13;

}

nav > ul > li:hover > ul > li:hover a{
    display: block;
    color: white;
    
}



.barra{
    width: 1250px;
    margin: 0 auto;
    
}

.esquina-izquierda{
    display: block;
    border-left: 20px solid transparent;
    border-top: 10px solid #2b2f30 ;
    float:left
}

.esquina-derecha{
    display: block;
    border-right: 20px solid transparent;
    border-top: 10px solid #2b2f30 ;
    float:right
}

.relleno-barra{
    display: block;
    width: 1210px;
    background: #2b2f30 ;
    height: 10px;
    float: left;

}

#content{
    width: 1210px;
    min-height: 930px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
}


.box{
    background:white;
    width: 95%;
    min-height: 930px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin: 0 auto;

}

.box .image{
    float: left;
    margin-right: 20px;
}
    

.box a{
    color: #444;
    }

.box a:hover{
    transition: all 100ms;
    color: #019d13;
}

.box form{
    width: 50%;
}

.box form input,
.box form label{
    display:block;
    padding: 5px;
}

.message,
.alert-success,
.alert{
    padding: 20px;
    background: #11b2b8;
    color: #ddd;
    text-align: center;
    margin-bottom: 10px;

}

.alert-warning{
    background: rgb(215, 20, 20);
}

.estilo_div{
    background: url(https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?w=2000) no-repeat;
    position: center;
    top: auto;
    bottom: auto;
    height: 800px;
    width: 1170px;

}


.estilo-registro{
    background: url(https://www.publicdomainpictures.net/pictures/40000/velka/abstract-green-background-1361187771Euk.jpg) no-repeat;
    position: center;
    top: 0px;
    bottom: auto;
    height: 930px;
    width: 1170px;

}

.register-box{
    position: absolute;
    top: 65%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgb(2 16 1), rgb(16, 96, 1));
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 6);
    border-radius: 10px;
}

.register-box input{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.register-box label {
    
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(254, 251, 255);
    pointer-events: none;
    transition: .5s;
}


.register-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 10px 10px 10px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

.register-box input[type="submit"] {
    position: relative;
    display: inline-block;
    background-color:rgb(16, 96, 1);
    border: none;
    padding: 0px 0px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    
}

.register-box input[type="submit"]:hover{
    background: #a0bb09;
}

.register-box a:hover {
    background: #a0bb09;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #a0bb09,
        0 0 25px #a0bb09,
        0 0 50px #a0bb09,
        0 0 100px #a0bb09;
}

.register-box a span {
    position: absolute;
    display: block;
}

.register-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #a0bb09);
    animation: btn-anim1 1s linear infinite;
}


@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.register-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #a0bb09);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.register-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #a0bb09);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.register-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #a0bb09);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}





.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: linear-gradient(#011016, #212022);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #03e9f4;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}
.login-box input[type="submit"] {
    position: relative;
    display: inline-block;
    background-color:#212022;
    border: none;
    padding: 0px 0px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    
}

.login-box input[type="submit"]:hover{
    background: #2bb716;
}

.login-box a:hover {
    background: #2bb716;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #2bb716,
        0 0 25px #2bb716,
        0 0 50px #2bb716,
        0 0 100px #2bb716;
}

.login-box a span {
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #22bc0b);
    animation: btn-anim1 1s linear infinite;
}


@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #22bc0b);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #22bc0b);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #22bc0b);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}


.title{
    color: #444;
    letter-spacing: 1px;
    font-size: 30px;
    margin-bottom: 4px;
    margin-top: 5px;

}



.date{
    display: block;
    margin-top: 25px;
    margin-bottom: 20px;
    color: grey;
}

.content{
    line-height: 25px;
}

footer{
    width: 1170px;
    background-color: #1b1e1f;
    border: 1px solid #333333;
    color:white;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 20px gray;


}