
·{

    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif ;
    text-decoration: none;
}

p, h2, h3, strong, ul{
    margin-top: 5px;
    margin-bottom: 5px;
}

ul, ol{
    margin-left: 20px ;
    margin-bottom: 10px;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #0c0c0c;
}


header{
    width: 1212px;
    height: 140px;
    background: rgb(21,8,240);
    background: radial-gradient(circle, rgba(21,8,240,1) 0%, rgba(0,0,14,1) 25%, rgba(82,82,226,1) 50%, rgba(10,13,31,1) 75%, rgba(0,0,0,1) 100%);
    margin: 0px auto;
}  

#logotipo{
    width: 50%;
    height: 130px;
    margin: 0 auto;
    padding-top: 10px;

}



#logotipo img{
    display: block;
    width: 60px;
    float: left;
    margin-top: 20px;

}


#logotipo h1{
    display: block;
    float: left;
    margin-top: 35px;
    margin-left: 20px;
    letter-spacing: 2px;
    font-weight: 100;
    color: #d3e015;
}

nav{
    width: 1250px;
    height: 40px;
    margin: 0 auto;
    background: rgb(34,34,195);
    background: linear-gradient(0deg, rgba(34,34,195,1) 0%, rgba(34,191,195,1) 50%, rgba(34,34,195,1) 100%);
    border: 1px solid #333333;
    box-shadow: 0px 22px 22px gray ;
    font-size: 17px;
    

}

nav > ul{
    list-style: none;
    text-decoration: none;
}

nav > ul > li{
    line-height: 20px;
    float:left;

}

nav > ul > li > a{
    display: block;
    padding-left : 20px;
    padding-right: 20px;
    color: #d3e015

}
nav > ul > li > a:hover{
    background: grey;
    background: linear-gradient(0deg, grey 0%, rgba(231,245,7,1) 50%, grey 100%);
    box-shadow: 0px 0px 5px #333333 inset;
    color: black;
    transition: all 300ms;

}

nav > ul > li > ul{
    display: none;
    position: absolute;
    color: black;
    text-align: left;
    width: 150px;
    box-shadow: 0px 2px 2px gray ;
}

nav > ul > li:hover > ul{
    display: block;
    color: black;
    margin: 0px;
    list-style: none;
}

nav > ul > li:hover > ul > li{
    background: rgb(34,34,195);
    background: linear-gradient(0deg, rgba(34,34,195,1) 0%, rgba(34,191,195,1) 50%, rgba(34,34,195,1) 100%);
    border-bottom: 1px solid #d6d6d6 ;
    padding: 8px;
    line-height: 25px;
    font-size: 13px;
    transition: all 300ms;


}

nav > ul > li:hover > ul > li a{
    color: #d3e015;
    transition: all 300ms;
}   
    
nav > ul > li:hover > ul > li:hover{
    background: grey;
    background: linear-gradient(0deg, grey 0%, rgba(231,245,7,1) 50%, grey 100%);

}

nav > ul > li:hover > ul > li:hover a{
    display: block;
    color: black;
    
}



.barra{
    width: 1250px;
    margin: 0 auto;
    
}

.esquina-izquierda{
    display: block;
    border-left: 20px solid transparent;
    border-top: 10px solid #2b2f30 ;
    float:left
}

.esquina-derecha{
    display: block;
    border-right: 20px solid transparent;
    border-top: 10px solid #2b2f30 ;
    float:right
}

.relleno-barra{
    display: block;
    width: 1210px;
    background: #2b2f30 ;
    height: 10px;
    float: left;

}

#content{
    width: 1210px;
    min-height: 930px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
}


.box{
    background: white;
    width: 95%;
    min-height: 858px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 0 auto;

}

.box .image{
    width: 40%;
    float: left;
    margin-right: 30px;
}

.box .image img{
    width: 60%;
}
    

.box a{
    color: #444;
    }

.box a:hover{
    transition: all 100ms;
    color: #019d13;
}

.box form{
    width: 50%;
}

.box form input,
.box form label{
    display:block;
    padding: 5px;
}

.box .data{
    width: 60%;
    margin-left: 10px;
    
}
.box .data a {
    margin-left: -208px;
    font-size: 20px;
    text-align: left;
    color: rgb(243, 191, 22);

}



.box .data p {
    margin-left: 10px;
    font-size: 17px;
    text-align: left;
}

.box .data strong {
    margin-left: 10px;
    font-size: 17px;
    text-align: left;
}


.message,
.alert-success,
.alert{
    padding: 20px;
    background: #11b2b8;
    color: rgb(12, 0, 0);
    text-align: center;
    margin-bottom: 10px;

}

.alert-warning{
    background: rgb(215, 20, 20);
}

.estilo_div{
    background: url(https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?w=2000) no-repeat;
    
    margin-left: -21px;
    margin-top: -21px;
    margin-bottom: 0px;
    height: 900px;
    width: 1192px;

}


.estilo-registro{
    background: url(https://www.publicdomainpictures.net/pictures/40000/velka/abstract-green-background-1361187771Euk.jpg) no-repeat;
    margin-top: -21px;
    margin-bottom: 0px;
    margin-left: -21px;
    height: 950px;
    width: 1192px;

}

.estilo-contacto{
    background: url(http://2.bp.blogspot.com/-Qyl5sd3PtmI/VGdNp1VBnWI/AAAAAAAADDs/O0-ZMslg_Sc/s1600/Will_o_the_wisp_by_fladdermuuus.jpg) no-repeat;
    margin-top: -21px;
    margin-left: -21px;
    margin-bottom: -21px;
    height: 972px;
    width: 1192px; 
}

.index_visual{
    background: url(https://i.pinimg.com/736x/f3/62/d8/f362d8d588ff4ba12a3ea1160aa5d61e.jpg) no-repeat;
    margin-left: 250px;
    top: 0px;
    bottom: auto;
    height: 930px;
    width: 1210px;
}

.imagen_redonda{
    background-image: url(../images/fotoperfil.jpg);
    margin-left: 37%;
    width:250px;
    height:250px;
    border-radius:160px;
    border:5px solid rgb(8, 8, 8)

}

.about_box{
    position: absolute;
    top: 94%;
    left: 50%;
    width: 1190px;
    height: 475px;
    padding: 16px;
    transform: translate(-50%, -50%);
    background: rgb(160,121,177);
    background: linear-gradient(0deg, rgba(160,121,177,1) 0%, rgba(236,205,246,1) 25%, rgba(255,255,199,1) 75%, rgba(239,213,70,1) 100%);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 6);
    border-radius: 10px;
    border:5px solid rgb(8, 8, 8)
}

.about_box .content{
    padding: 20px;
    text-align: center;
    margin-bottom: 10px; 
}



.register-box{
    position: absolute;
    top: 65%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgb(2 16 1), rgb(16, 96, 1));
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 6);
    border-radius: 10px;
}

.register-box input{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.register-box label {
    
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(254, 251, 255);
    pointer-events: none;
    transition: .5s;
}


.register-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 10px 10px 10px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

.register-box input[type="submit"] {
    position: relative;
    display: inline-block;
    background: transparent;
    border: none;
    padding: 0px;
    margin: 0px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    
}

.register-box input[type="submit"]:hover{
    background: #a0bb09;
}

.register-box a:hover {
    background: #a0bb09;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #a0bb09,
        0 0 25px #a0bb09,
        0 0 50px #a0bb09,
        0 0 100px #a0bb09;
}

.register-box a span {
    position: absolute;
    display: block;
}

.register-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #a0bb09);
    animation: btn-anim1 1s linear infinite;
}


@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.register-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #a0bb09);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.register-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #a0bb09);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.register-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #a0bb09);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

.contacto-box{
    position: absolute;
    top: 65%;
    left: 31%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(7,36,245,1) 50%, rgba(0,0,5,1) 100%);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 6);
    border-radius: 10px;
}

.contacto-box h2{
    color: #fff;
    margin-top: 5px;
    margin-bottom: 40px;
    padding: 5px 0 ;
}

.contacto-box h3{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(219,254,34,1) 50%, rgba(249,249,249,1) 100%);
}

.contacto-box textarea{
    background: #f2f1f0;
}

.contacto-box input{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.contacto-box label {
    
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(254, 251, 255);
    pointer-events: none;
    transition: .5s;
}

.contacto-box input:focus~label,
.contacto-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}


.contacto-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 10px 10px 10px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

.contacto-box input[type="submit"] {
    position: relative;
    display: inline-block;
    background: transparent;
    border: none;
    padding: 0px;
    margin: 0px;
    color: rgb(14, 216, 216);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    
}

.contacto-box input[type="submit"]:hover{
    background: #fff;
}

.contacto-box a:hover {
    background: #fff;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #fff,
        0 0 25px #fff,
        0 0 50px #fff,
        0 0 100px #fff;
}

.contacto-box a span {
    position: absolute;
    display: block;
}

.contacto-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fff);
    animation: btn-anim1 1s linear infinite;
}


@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.contacto-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #fff);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.contacto-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #fff);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.contacto-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #fff);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

.index_box{
    position: absolute;
    top: 62%;
    left: 27%;
    width: 250px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgb(253,252,209);
    background: linear-gradient(174deg, rgba(253,252,209,1) 0%, rgba(204,172,223,1) 50%, rgba(253,252,209,1) 99%);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 6);
    border-radius: 10px;
}
.index_leftbox{
    position: absolute;
    top: 62%;
    left: 72%;
    width: 250px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgb(253,252,209);
    background: linear-gradient(174deg, rgba(253,252,209,1) 0%, rgba(204,172,223,1) 50%, rgba(253,252,209,1) 99%);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 6);
    border-radius: 10px;
}



.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: linear-gradient(#011016, #212022);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #03e9f4;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}
.login-box input[type="submit"] {
    position: relative;
    display: inline-block;
    background: transparent;
    border: none;
    padding: 0px;
    margin: 0px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    
}

.login-box input[type="submit"]:hover{
    background: #2bb716;
}

.login-box a:hover {
    background: #2bb716;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #2bb716,
        0 0 25px #2bb716,
        0 0 50px #2bb716,
        0 0 100px #2bb716;
}

.login-box a span {
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #22bc0b);
    animation: btn-anim1 1s linear infinite;
}


@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #22bc0b);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #22bc0b);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #22bc0b);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}


.title{
    color: #444;
    letter-spacing: 1px;
    font-size: 30px;
    margin-bottom: 4px;
    margin-top: 5px;

}



.date{
    display: block;
    margin-top: 25px;
    margin-bottom: 20px;
    color: grey;
}

.content{
    line-height: 25px;
}

.Saludo marquee{
    color: rgb(11, 171, 235);
    margin-top: 0%;
    background: 0%;
}

.Identificate{
    height: 900px;
    width: 1192px;
    background: rgb(0,0,0);
    background: linear-gradient(142deg, rgba(0,0,0,1) 0%, rgba(12,0,246,1) 100%);
    margin-left: -21px;
    margin-top: -21px;
    margin-bottom: -21px;

}

.Identificate marquee{
    color: rgb(11, 171, 235);
    margin-top: 0%;
    margin-left: 0px;
    background: black;
    
}

.cosmos {
    width: 240px;
    height: 490px;
    margin-top: -22px;
    margin-right: -270px;
    float: right;
    border: 5px solid rgb(7, 7, 7);
    border-radius: 10px;
}

.cuadro1{
    background-color: transparent;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    margin-top: 0px;
}

.subcuadro1{
    width: 100%;
    height: 95%;
    margin: auto;
    overflow: hidden;
    background-image: url(https://64.media.tumblr.com/ead7233a10303d4da78d0ad2f942f3ae/tumblr_ml1tpkWYUY1r00ed5o1_500.gifv);
    background-position: 100%;
    background-size: 100% ;
}

.subcuadro1 marquee{
    color: rgb(11, 171, 235);
    margin-top: 50%;
    background: 0%;
}

.cuadro2{
    background: rgb(253,252,209);
    background: linear-gradient(174deg, rgba(253,252,209,1) 0%, rgba(204,172,223,1) 50%, rgba(253,252,209,1) 99%);
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.subcuadro2{
    width: 95%;
    height: 95%;
    margin: -87%;
    overflow: hidden;
    background-image: none;
    background-position: 100%;
    background-size: cover; 
}

.cuadro3{
    background: rgb(253,252,209);
    background: linear-gradient(174deg, rgba(253,252,209,1) 0%, rgba(204,172,223,1) 50%, rgba(253,252,209,1) 99%);
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.subcuadro3{
    width: 95%;
    height: 95%;
    margin: -87%;
    overflow: hidden;
    background-image: url();
    background-position: 100%;
    background-size: cover; 
}

.elecciones{
    text-indent: 0px;
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 70px;
    margin-bottom: 50px; 
}
.elecciones h4{
    color: #0b215f;
    margin-top: 28px;
    margin-left: -25px;
    
}

.elecciones input[type="button"] {
    position: relative;
    display: inline-block;
    background: transparent;
    border: none;
    padding: 0px;
    margin: 0px;
    color: #0b215f;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    pointer-events: painted;
}

.elecciones input[type="button"]:hover{
    background: grey;
    background: linear-gradient(0deg, grey 0%, rgba(231,245,7,1) 50%, grey 100%);
    box-shadow: 0px 0px 5px #333333 inset;
    color: black;
    transition: all 300ms;
}

.asunciones{
    text-indent: 0px;
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 40px;
    margin-bottom: 0px; 
}
.asunciones h4{
    color: #0b215f;
    margin-top: 28px;
    margin-left: 0px;
    
}

.asunciones input[type="button"] {
    position: relative;
    display: inline-block;
    background: transparent;
    border: none;
    padding: 0px;
    margin-left: 33px;
    color: #0b215f;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
}

.asunciones input[type="button"]:hover{
    background: grey;
    background: linear-gradient(0deg, grey 0%, rgba(231,245,7,1) 50%, grey 100%);
    box-shadow: 0px 0px 5px #333333 inset;
    color: black;
    transition: all 300ms;
}



footer{
    width: 1200px;
    margin-left: 0px;
    background: rgb(58,180,179);
    background: linear-gradient(90deg, rgba(58,180,179,1) 0%, rgba(29,41,253,1) 50%, rgba(58,180,179,1) 100%);
    border: 1px solid #333333;
    color:white;
    text-align: center;
    margin-top: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 20px gray;


}