{% extends 'layouts/layout.html' %}



{% block title %} {{title}} {% endblock %}


{% block content %}
    
    

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}


    <div class="estilo_div">

    </div>


    <div class="login-box">
        <h2>Inicio de Sesion</h2>
        <form method="post" action="">
		{% csrf_token %}
        
            <div class="user-box">
                <input type="text" name="username" required="">
                <label for="username">Nombre de usuario:</label>
            </div>
            <div class="user-box">
                <input type="password" name="password" required="">
                <label for="password">Contraseña:</label>
            </div>
            

            <a>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <input type="submit" value="iniciar sesion" />
            </a>
            
        
        </form>

{% endblock %}


<style>

    body {
        background-image: url(media/login/Cosmo.png)

    }


</style>