{% extends 'layouts/layout.html' %}

{% block title %} {{title}} {% endblock %}


{% block content %}
    

    {{register_form.errors}}


<div class="estilo-registro">


</div>

<div class="register-box">
    <form method="post" action="">
        {% csrf_token %}

        {% for field in register_form %}
            <label>{{field.label}}</label>
            {{field}}
        
        {% endfor %}

        <a>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <input type="submit" value="Registrarse" />
        </a>
    </form>
</div>
{% endblock %}

