{% extends 'layouts/layout.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}

<div class="estilo-contacto">


</div>

<div class="contacto-box">
<h3>{{mensaje}}</h3>
<h2> Comunicate con nosotros </h2>

<form action="" class="formulario_contacto" method="POST">

    {% csrf_token %}

    {{ form }}

    <a>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <input type="submit" value="Enviar" />
    </a>

</form>

<table id="tablacontactos">


</table>
</div>
{% endblock %}